* {
  padding: none;
}

html{
  font-family: 'Poppins', sans-serif;
  color: var(--navText);
  background-image: linear-gradient(rgba(0, 0, 0, 0.698),rgb(0, 0, 0, 0.698)) ,url("../images/check.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

:root{
  --navColor: #0fff95;
  --colorDark: #06BA63;
  --navAccent2: #cc264a;
  --navComp: #E00774;
  --moneyBlue1: #5c80BC;
  --navText: rgb(252, 253, 253);
  
}

/* NavBar*/ 

.navbar li a:link,
.navbar li a:visited
{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.navbar li a:hover,
.navbar li a:active
{
    border-bottom: 2px solid #00EEC0;
    transition: 0.2s;
    cursor: pointer;
}



#navbar {
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: var(--colorDark);
font-family: 'Poppins', sans-serif;
font-weight: bold;
color: var(--navText);
}

h1 {
  font-weight: bolder;
  letter-spacing: 6px;
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(35, 248, 7, 0.79), 0 0 5px rgb(241, 186, 57);
}

/* NavBar*/

/* .burger {
  margin: 1em;
  width: 40px;
  display: inline-block;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 35px;
  height: 5px;
  background-color: rgb(252, 253, 253);
  margin: 6px 0;
  transition: 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
      
.change .line2 {opacity: 0;}
      
.change .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  list-style-type: none;
  text-transform: uppercase;
  float: right;
  padding: 0;
}
  
ul a {
  letter-spacing: 3px;
  font-size: 14px;
  justify-content: center;
}
      

/* body{
} */

header{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; 
}

.gridMain{
  display: grid;
  justify-content: center;
  padding-bottom: 5rem;
  grid-template-columns: repeat(2, 13rem);
  grid-gap: 3rem 3rem;
  grid-template-rows: repeat(1, 13rem);
}

.gridCat{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 13rem);
  grid-gap: 3rem 3rem;
  grid-template-rows: repeat(3, 13rem);
}

.gridAct{
  display: grid;
  justify-content: center;
  grid-gap: 5rem 20rem;
  grid-template-columns: repeat(1, 75rem);
}

#Success
{
  display: grid;
  justify-content: center;
  grid-gap: 5rem 20rem;
  grid-template-columns: repeat(1, 50rem);
}

#gridItem, #gridItemA, #grid-Item, .activity, .Success
{
  border-radius: 5px;
  /* border-radius: 100px; */
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.122);
  
  background: linear-gradient( to bottom, var(--colorDark), var(--moneyBlue1));
  /* background: radial-gradient( var(--moneyBlue1), var(--colorDark)); */
  transition: 0.5s;
}

#gridItem:hover,
#gridItemA:hover,
#grid-Item:hover,
.activity:hover,
.Success:hover
{
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.658);
}

.activity, .business, .category, .user, .activityAdd{
  border: .125rem solid var(--navText);
}

.Success
{
  border: .125rem solid var(--navText);
  display: flex;
  justify-content: center;
}

.Success p
{
  padding-right: 20px;
}

.Success h3
{
  font-weight: bolder;
  letter-spacing: 6px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(35, 248, 7, 0.79), 0 0 5px rgb(241, 186, 57);
  padding-right: 50px;
  padding-left: 20px;
}

#gridItem h3,h5,.edit-user,.delete-user
{
  display: flex;
  justify-content: center;
}

#gridItemA h2,h3,h5,.edit-user,.delete-user
{
  display: flex;
  justify-content: center;
}

.activity
{
  display: flex;
  align-items: center;
}

.activity p
{
  padding-right: 20px;
}

.activity h3
{
  font-weight: bolder;
  letter-spacing: 6px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(35, 248, 7, 0.79), 0 0 5px rgb(241, 186, 57);
  padding-right: 50px;
  padding-left: 20px;
}

#mainbutton{
  background-color: rgb(47, 105, 47); 
  border: .125rem solid var(--navText);
  border-radius: .5rem;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display:grid;
  align-items: end;

  margin: 10px;
}

#input{
  border-radius: .5rem;
}

#totalP{
  border: .125rem solid goldenrod;
  border-radius: .5rem;
  font-size: large;
}

.checkBox {
  min-width: 15px;
  min-height: 15px;
}

.far{
  size: 20rem;
}