* {
  padding: none;
  font-family: 'Poppins', sans-serif;
}

body
{
  background-color: transparent;
}

html{
  color: var(--navText2);
  background-image: linear-gradient(rgba(83, 82, 82, 0.698),rgba(83, 82, 82, 0.698)) ,url("../images/cogs.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

:root{
  --navColor: #0fff95;
  --colorDark: #06BA63;
  --navAccent2: #cc264a;
  --navComp: #E00774;
  --moneyBlue1: #5c80BC;
  --gold: rgb(250, 218, 74);
  --blue2: rgb(24, 98, 224);
  --navText: rgb(27, 61, 212);
  --navText2: rgb(252, 253, 253);
}

/* NavBar*/ 

.navbar li a:link,
.navbar li a:visited
{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.navbar li a:hover,
.navbar li a:active
{
    border-bottom: 2px solid rgb(2, 230, 184);
    transition: 0.2s;
    cursor: pointer;
}

#homeButton {
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(252, 240, 83, 0.79), 0 0 5px rgb(252, 136, 3);
  color: rgb(250, 218, 74)
}

#profileButton, #categoryButton, #activityButton, #successButton {
  font-size: 1.2rem;
  color: var(--navText);
}



#navbar {
border-radius: 1rem;
box-shadow: 7px 7px 20px black;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: var(--colorDark);
font-weight: bold;
color: var(--navText2);
}

h1 {
  font-weight: bolder;
  letter-spacing: 6px;
  font-size: 3.5em;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(35, 248, 7, 0.79), 0 0 5px rgb(241, 186, 57);
}

/* NavBar*/

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  list-style-type: none;
  text-transform: uppercase;
  float: right;
  padding: 0;
}
  
ul a {
  letter-spacing: 3px;
  font-size: 14px;
  justify-content: center;
}
      
/* body*/

header{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer{

  color: var(--navText2);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; 
}

.gridRank{
  display: grid;
  justify-content: center;
  grid-gap: 2rem 5rem;
  grid-template-columns: repeat(1, 40rem);
  grid-template-rows: repeat(3, 10rem);
}
.gridCat{
  display: grid;
  justify-content: center;
  grid-gap: 2rem 5rem;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 10rem);
}

.gridMain{
  display: grid;
  justify-content: center;
  padding-bottom: 5rem;
  grid-template-columns: repeat(2, 13rem);
  grid-gap: 3rem 3rem;
  grid-template-rows: repeat(1, 13rem);
}


.userGrid {
  display: grid;
  justify-content: center;
  grid-gap: 5rem 20rem;
  grid-template-columns: repeat(1, 30rem);
}

.gridAct{
  display: grid;
  justify-content: center;
  grid-gap: 2.5rem 20rem;
  grid-template-columns: repeat(1, 75rem);
}

#Success
{
  display: grid;
  justify-content: center;
  grid-gap: 5rem 20rem;
  grid-template-columns: repeat(1, 50rem);
}

#gridItem, #gridItemA, #grid-Item, .activity, .Success, .gameGrid
{
  border-radius: .25rem;
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.122);
  
  background: linear-gradient( to bottom, var(--moneyBlue1), var(--moneyBlue1));
  transition: 0.5s;
}

/* Makes cursor into hand pointer when hovering on Category name grid area in Categories */
#catName{
  cursor: pointer;
}

#gridItem:hover,
#gridItemA:hover,
#grid-Item:hover,
.activity:hover,
.Success:hover
{
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.918);
}

.activity, .business, .category, .user, .activityAdd, .update-activity{
  border: .125rem solid var(--navText2);
}

.Success
{
  border: .125rem solid var(--navText2);
  display: flex;
  justify-content: center;
}

.Success p
{
  padding-right: 20px;
}

.Success h3
{
  font-weight: bolder;
  letter-spacing: 6px;
  color: var(--navText2);
  text-shadow: 1px 1px 2px black;
  padding-right: 50px;
  padding-left: 20px;
}

#gridItem h3,h4,.edit-user,.delete-user
{
  display: flex;
  justify-content: center;
}

.categoryName{
  color: var (--navText);
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 2px;
}

#gridItemA h2,h3,h4,.edit-user,.delete-user, .userIcon
{
  display: flex;
  justify-content: center;
}

.userIcon {
 width: 5rem;
 height: 8rem;
 margin: auto;
 margin-top: 1rem; 
}

.activity
{
  display: flex;
  align-items: center;
}

.activity p
{
  padding-right: 20px;
}

.activity h3, .category h3
{
  font-weight: bolder;
  letter-spacing: 6px;
  color: var(--navText2);
  text-shadow: 1px 1px 2px black;
  padding-right: 50px;
  padding-left: 20px;
}

#mainbutton{
  background-color: var(--colorDark); 
  border: .125rem solid var(--navText2);
  border-radius: .5rem;
  color: var(--navText2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display:grid;
  align-items: end;
  margin: 10px;
}

#popupbutton{
  background-color: var(--colorDark); 
  border: .125rem solid var(--moneyBlue1);
  border-radius: .5rem;
  color: var(--navText2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display:grid;
  align-items: end;
  margin: 10px;
}

#input{
  border-radius: .5rem;
}

.complete-activity {
  min-width: 30px;
  min-height: 30px;
}

#Logo
{
  font-weight: bolder;
  letter-spacing: 6px;
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(35, 248, 7, 0.79), 0 0 5px rgb(241, 186, 57);
  width: 125px;
  height:50px;
  margin-left: 10px;
  margin-top: 10px;
  
}

/*Image PopUp*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 350px;
  min-width: 350px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  
}

.popup h3 {
  margin-top: 0;
  color: #333;
  text-align: center;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #3e6990;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popupButton {
  background-color: var(--colorDark); 
  border: .125rem solid var(--navText2);
  border-radius: .5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45%;
  margin-right: 42%;
  cursor: pointer;
  
}

#input1{
  border-radius: .5rem;
  width: 9rem;
  cursor: pointer;
}

.content{
  margin: 1px;
}

.beltIMG{
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 7.25rem;
 }

 .businessName{
  font-weight: bolder;
  letter-spacing: 6px;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
 }

 #cathead{
   color: var(--navText2);
   text-align: center;
 }

 #catdep{
   margin: 1rem;
 }

 #white{
   color: var(--navText2);
}

 #name{
  font-weight: bolder;
  letter-spacing: 6px;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-left: 2rem;
 }

 #number{
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-left: 1rem;
 }

 #title{
  font-weight: bolder;
  letter-spacing: 6px;
  color: white;
  text-shadow: 1px 1px 2px black;
 }

.beltIMG{
  margin-right: 30rem;
  width: 15rem;
  height: 12rem;
}

.color{
  color: var(--gold)
}

.update-activity{
 display: grid;
 grid-template-columns: repeat(1, 12rem);
 justify-content: center;
}

#my-canvas {
  position: absolute;
}